.site-map{
    .title-wrap{
        @if $is-mobile == 1 {
            padding:0 !important;
        }
    }
	h1 {
		font-size:50px;
		line-height:1em;
		font-family:$font-family-light;
	}
	.site-map-header {
		&:before {
			display:block;
			content:'';
			height:60px;
		}
		max-width:1240px;
		margin:0 auto;
		text-align:left;
		padding:45px 20px 0;

		a.main-link {
			display:inline-block;
			margin:35px 0 15px;
			color:#333;
			font-size:20px;
			line-height:22px;
			font-family:$font-family-regular;
		}
	}
	.site-map-content {
		border-top:1px solid #ededed;
		background:#fcfcfc;
		padding:45px 0 65px;
		.site-map-box {
			max-width:1200px;
			padding:0 20px;
			margin:0 auto;
			text-align:left;
			
			.column {
				float:left;
				width:22.5%;
				padding:0 0 0 2.33% ;
				margin-left:3.33%;
				&.first {
					margin-left:0;
					padding-left:0;
				}
				ul {
					list-style:none;
					margin:0 0 20px 0;
					padding:0;
					li {
						a,
						span {
							font-size:14px;
							line-height:20px;
							color:#666666;
							font-family:$font-family-regular;
						}
						ul {
							li {
								
							}
						}
					}
					h3 {
						margin:4px 0 0px 0;
						padding:0;
						font-size:16px;
						line-height:19px;
						a,
						span {
							font-size:16px;
							line-height:20px;
							font-family:$font-family-semibold;
							color:#333333;
						}
						&.single {
							margin-bottom:14px;
							&.double {
								margin-bottom:28px;
							}
						}
					}
				}
				a {
					color:#333333;
					font-size:20px;
					font-family:$font-family-regular;
				}
				h2 {
					margin:0 0 20px 0;
					padding:0;
					font-size:20px;
					a {
						font-family:$font-family-semibold;
					}
				}
				
				
			}
			.hr-bottom {
				border-bottom:1px solid #e6e6e6;
				margin-bottom:35px;
				padding-bottom:7px;
			}
			&:after {
				clear:both;
				content:"";
				display:block;
			}

		}
		.group-box {
			margin-bottom:20px;
		}
	}
}
@media screen and (max-width:1024px) {
	.site-map{
		h1 {
			font-size:40px;
		}
		.site-map-content {
			.site-map-box {
				.column {
					ul {
						li {
							a {
								font-size:14px;
							}
							ul {
								li {
									
								}
							}
						}
						h3 {
							font-size:14px;
							line-height:20px;
							a {
								font-size:14px;
							}
						}
					}
					a {
						color:#333333;
						font-size:20px;
						font-family:$font-family-regular;
					}
					h2 {
						font-size:18px;
						a {
							font-size:18px;
							font-family:$font-family-semibold;
						}
					}
				
				}
			}
		}
	}
}
.is-mobile {
	.site-map{
		h1 {
			font-size:26px;
		}
		.site-map-header {
			max-width:768px;
			&:before {
				height:0px;
			}
			a.main-link {
				font-size:18px;
			}
		}
		.site-map-content {
			border-top:1px solid #e3e3e3;
			padding:0;
			.site-map-box {
				max-width:768px;
				padding:0;
				.column {
					float:none;
					width:auto;
					padding:0;
					margin:0;
					ul {
						display:none;
						margin:0 0 0px 0;
						background:#f2f2f2;
						li {
							a {
								font-size:16px;
								line-height:18px;
								color:#333333;
								font-family:$font-family-regular;
								padding-left:20px;
							}
							ul {
								background:#e2e2e2;
								display:none;
								padding-bottom:15px;
								li {
									padding:15px 20px 2px;
									
								}
							}
						}
						h3 {
							margin:0;
							position:relative;
							border-bottom:1px solid #e3e3e3;
							font-size:16px;
							line-height:18px;
							a,
							span {
								font-size:16px;
								line-height:18px;
								padding:11px 20px 11px 30px;
								display:block;
								font-family:$font-family-semibold;
								color:#333333;
							}
							&.single {
								margin-bottom:0px;
								&.double {
									margin-bottom:0px;
								}
							}
						}
					}
					a {
						font-size:16px;
						display:block;
						word-break:break-word;
					}
					h2 {
						font-size:16px;
						padding:12px 20px 13px;
						border-bottom:1px solid #e3e3e3;
						position:relative;
						margin:0;
						a {
							
						}
					}
					
					.tab-button {
						position:absolute;
						right:0;
						top:0;
						width:40px;
						height:100%;
						text-align:center;
						z-index:5;
						padding:0;
						a {	
					        padding:0;
					        margin:0;
					        display:table;
					        width:100%;
					        height:100%;
					        table-layout:fixed;
							text-decoration:none;
							color:#333;
							i {
								font-size:13px;
								display:table-cell;
								color:#9d9d9d;
							}

							.icon-menu-minus {
								&:before {
									vertical-align:-12px;
								}
							}
						}
					}
				}

			}
			.hr-bottom {
				border-bottom:none;
				margin:0;
				padding:0;
			}
			.group-box {
				margin-bottom:0px;
			}
		}
	}
}