.step-up-chart {
	background:#fff;
	background: -moz-linear-gradient(top, #e9ecf0 0%, #ffffff 50%, #e9ecf0 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9ecf0), color-stop(50%,#ffffff), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top, #e9ecf0 0%,#ffffff 50%,#e9ecf0 100%); 
	background: -o-linear-gradient(top, #e9ecf0 0%,#ffffff 50%,#e9ecf0 100%); 
	background: -ms-linear-gradient(top, #e9ecf0 0%,#ffffff 50%,#e9ecf0 100%); 
	background: linear-gradient(to bottom, #e9ecf0 0%,#ffffff 50%,#e9ecf0 100%);
	font-family:$font-family-light;
	color:#333;
	padding:0 20px 70px;
	.chart-headline {
		max-width:1200px; 
		position:relative;
		margin:0 auto;
		h2,
		h3 { 
			letter-spacing:3px;
			font-size:34px;
			line-height:36px;
			margin-top:67px;
		}
		p.sub-header { 
			margin:10px 0 0;
			font-size:20px;
			line-height:26px;
		}
		.expand-button {
			background:none;
			border:0;
			position:absolute;
			right:0;
			top:6px;
			color:#a50034;
			font-size:14px;
			line-height:22px;
			i {
				font-size:22px;
			}
			span {
				vertical-align:-1px;
				margin-left:7px;
			}
			&:hover {
				text-decoration:underline;
				color:#d80546;
				i {
					text-decoration:none;
				}
			}
		}
	}
	.chart-table {
		max-width:1200px; 
		margin:45px auto 0;
		
		table {
			width:100%;
			border-collapse:collapse;
			table-layout:fixed;
			caption {
				position:absolute;
				left:-10000px;
			}
			.step-header {
				th {
					
					font-weight:normal;
					border-left:1px solid #bbbbbb;
					border-bottom:1px solid #bbbbbb;
					vertical-align:top;
					.product-flag {
						width:94%;
						font-size:16px;
						line-height:18px;
						padding:7px 0 5px; 
						margin-bottom:10px;
						font-family: $font-family-regular;
						height:60px;
						&.basic{
							background:#bbbbbb;
						}
						&.mid {
							background:#808080;
							color:#fff;
						}
						&.high{
							background:#666666;
							color:#fff;
						}
						&.premium {
							background:#333333;
							color:#fff;
						}
					}
					.product-name {
						margin-top:18px;
						padding:0 25px 28px;
						font-size:16px;
						line-height:18px;
						text-align:left;
						strong {
							font-family: $font-family-regular;

						}
						
					}
				}
				th.first {
					width:21%;
					border-left:none;
					vertical-align:bottom;
					text-align:left;
					font-size:24px; 
					padding-bottom:36px;
					font-family: $font-family-regular;
				}
			}

			tbody {
				display:none;
				font-size:16px;
				td {
					font-weight:normal;
					border-left:1px solid #bbbbbb;
					border-bottom:1px solid #bbbbbb;
					font-family: $font-family-regular;
					padding:17px 25px; 
					text-align:left;
					.check-icon {
						color:#a50034;
						font-size:21px;
						margin-left:2px;
					}
				}
				td.first {
					width:21%;
					border-left:none;
					text-align:left;
					font-family: $font-family-regular;
					padding:17px 0; 
				}

				tr:last-child {
					td {
						border-bottom:none;
						vertical-align:bottom;
						padding:34px 25px 0;
					}
				}
				.empty {
					position:absolute; 
					left:-10000px;
				}
				.btn {
					font-size:18px;
				}
			}
		}
	}
	.btn, a.btn {
	    display: inline-block;
	    border-radius: 6px;
	    background-color: $red-lg;
	    font-family: $font-family-regular;
	    font-weight: normal;
	    line-height: normal;
	    color: $white;
	    text-align: center;
	    cursor: pointer;
	    transition: width 0.2s ease-in;
		border:none;

	    &:hover,
		&:focus {
		background-color: $red-btn-over; //darken($red-lg, 5);
		text-decoration: none;
	    }
		&:focus {outline:1px dotted #fff;}

	    &.gray {
			background-color: #d2d2d2;
			text-decoration: none;
			color:#333333;
			&:hover,
			&:focus {
				background-color: darken(#d2d2d2, 5);
				text-decoration: none;
			}
			&:focus {outline:1px dotted #000;}
	    }
	}
}



@media screen and (max-width: 1023px) {
	.step-up-chart {
		.chart-headline {
			h2,
			h3 { 
				letter-spacing:3px;
				font-size:27px;
				line-height:29px;
			}
			p.sub-header { 
				font-size:16px;
				line-height:24px;
			}
			.expand-button {
				font-size:14px;
				line-height:22px;
				i {
					font-size:17px;
				}
			}
		}
		.chart-table {
			table {
				.step-header {
					th {
						.product-flag {
							font-size:14px;
							line-height:16px;
						}
						.product-name {
							font-size:14px;
							line-height:16px;
						}
					}
					th.first {
						font-size:24px;
					}
				}

				tbody {
					font-size:14px;
					td {
						.check-icon {
							font-size:16px;
						}
					}
					tr:last-child {
						td {
							border-bottom:none;
							vertical-align:bottom;
							padding:22px 25px 0;
						}
					}
					.btn {
						font-size:14px;
					}
				}
			}
		}
	}

}

// mobile //

.step-up-chart-m { 
	img.lazy {
		min-height:inherit !important;
	}
	font-family:$font-family-light;
	color:#333;
	padding-top:40px;
	padding-bottom:75px;
	@include linear-gradient(to bottom, $white, $grey-light, $fallback: $white); 
	a {
		color:#333;
	}
	table {
		width:100%;
		border-collapse:collapse;
		table-layout:fixed;
	}
	.chart-headline {
		h2,
		h3 {
			font-size:29px;
		}
		p.sub-header {
			margin:0;
			font-size:21px;
		}
		
	}
	.chart-table {
		margin:44px 0 0;
		padding:49px 0 0;
		position:relative;
		caption {
			position:absolute;
			left:-10000px;
		}
		.item-list {
			border-top:1px solid #bbbbbb;
			border-bottom:1px solid #bbbbbb;
			margin:0;
			padding:0;
			list-style:none;
			td {
				text-align:left;
				vertical-align:top;
				
				.product-flag {
					width:100%;
					font-size:16px;
					line-height:18px;
					padding:4px 0 2px; 
					padding-left:20px;
					padding-right:20px;
					font-family: $font-family-regular;
					
					&.basic{
						background:#bbbbbb;
					}
					&.mid {
						background:#808080;
						color:#fff;
					}
					&.high{
						background:#666666;
						color:#fff;
					}
					&.premium {
						background:#333333;
						color:#fff;
					}

				}
				.wrap {
					padding:0 20px;
					
				}
				
			}
		}
		.product-box {
			overflow:hidden;
			font-size:18px;
			line-height:21px;
			padding:10px 0;
			.box-image {
				float:left;
				width:45%;
				max-width:250px;
				.wrap { 
					padding:0 0 0 20px;
				}
			}
			.box-info {
				float:left;
				width:30%;
				.wrap {
					margin-top:5px;
					padding:0 0 0 20px;
				}
				strong{
					font-family: $font-family-regular;
				}
				strong, span {
					display:block;
					word-break:break-word;
				}	
			}
		}
		.hidden-chart-table {
			max-width:none;
			* {
				max-width:none;
			}
			
			position:absolute; 
			top:0;
			height:100%;
			text-align:left;
			border-left:1px solid #bbbbbb;
			border-bottom:1px solid #bbbbbb;
			@include linear-gradient(to bottom, #fbfbfc, $grey-light, $fallback: $white);
			.toggle-btn-wrap {
				position:relative;
				
				button {
					color:#a50034;
					position: absolute;
					left: -65px;
					background: none;
					border: 0;
					top:50%;
					display:block;
					padding:0;

					i {
						font-size:65px;
						display:block;
						
						&:before {
							position:absolute;
							left:0;
							top:-10px;
							line-height:85px;
							z-index:2;
						}
						&:after {
							content:"";
							display:block;
							position:absolute;
							left:40px;
							top:12px;
							background:#fff;
							width:20px;
							height:30px;
							z-index:1;
						}
					}
					
					img {
						width:35px;
						height:auto;
					}
				}
			}
			.chart-scroll-box {
				-webkit-overflow-scrolling: none;
				overflow-x:hidden;
				
			}
			table {
				padding:0;
				margin:0;
				list-style:none;
				
					
				.product-caption {
					border-bottom:1px solid #bbbbbb;
					min-height:50px;
					line-height:21px;
					
					th {
						border-right:1px solid #bbbbbb;
						width:160px;
						padding:0 20px;
						height:49px;
						vertical-align:middle;
					}
				}	
				.product-spec-list {
					td {
						font-size:17px;
						line-height:20px;
						width:160px;
						border-right:none;
						border-bottom:1px solid #bbbbbb;
						padding:42px 20px 0;
						vertical-align:top;
						border-right:1px solid #bbbbbb;
						background:url('/lg4-common-gp/img/global/chart/mobile-chart-bg.png') left top repeat-x;
					}
					
				}
			}
			.wrap {
				padding:0 20px;
			}

			
		}
		.item-list.active {

			.product-box {
				.box-image {
					display:none;
				}
			}
			
			
		}
		.chart-scroll-box.active {
				-webkit-overflow-scrolling: touch;
				overflow-x:auto;
				
			}
	}

	.check-icon {
		color:#a50034;
		margin-left:2px;
	}
}

@media screen and (max-width: 479px) {

	.step-up-chart-m { 
		.chart-headline {
			h2,
			h3 {
				font-size:21px;
			}
			p.sub-header {
				font-size:15px;
			}
		}
		.chart-table {
			margin:44px 0 0;
			padding:29px 0 0;
			position:relative;
			.item-list {
				td {
					text-align:left;
					vertical-align:top;
					
					.product-flag {
						width:100%;
						font-size:14px;
						line-height:16px;
						padding:5px 0 3px; 
						padding-left:20px;
						padding-right:20px;
					}
					.wrap {
						padding:0 20px;
						
					}
					
				}
			}
			.product-box {
				overflow:hidden;
				font-size:13px;
				line-height:16px;
				padding:10px 0;
			}
			.hidden-chart-table {

				table {

					.product-caption {

						font-size:13px;
						th {
							height:29px;
							line-height:13px;
						}
					}	
					.product-spec-list {
						td {
							font-size:13px;
							line-height:16px;
						}
						
					}
				}
				.wrap {
					padding:0 20px;
				}

				
			}
			.item-list.active {

				.product-box {
					.box-image {
						display:none;
					}
				}
				
			}
		}
	}
	.btn, a.btn {
	    display: inline-block;
	    border-radius: 6px;
	    background-color: $red-lg;
	    font-family: $font-family-regular;
	    font-weight: normal;
	    line-height: normal;
	    color: $white;
	    text-align: center;
	    cursor: pointer;
	    transition: width 0.2s ease-in;
		border:none;

	    &:hover,
		&:focus {
		background-color: $red-btn-over; //darken($red-lg, 5);
		text-decoration: none;
	    }
		&:focus {outline:1px dotted #fff;}

	    &.gray {
			background-color: #d2d2d2;
			text-decoration: none;
			color:#333333;
			&:hover,
			&:focus {
				background-color: darken(#d2d2d2, 5);
				text-decoration: none;
			}
			&:focus {outline:1px dotted #000;}
	    }
	}
}
.lt-ie9 {
	.step-up-chart .chart-headline .expand-button {
		width: 140px;
	}
}