/* New Colorchip - v2 */

.swatch.MC_G6_Astro_Black {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat 0 0;}
.swatch.MC_G6_Ice_Platinum {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -14px 0;}
.swatch.MC_G6_Mystic_White {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -28px 0;}
.swatch.MC_G6_Marine_Blue {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -42px 0;}
.swatch.MC_G6_Terra_Gold {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -56px 0;}
.swatch.MC_G6_Plus_Marine_Blue {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -70px 0;}
.swatch.MC_G6_Plus_Optical_Black {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -84px 0;}
.swatch.MC_G6_Plus_Terra_Gold {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -98px 0;}
.swatch.MC_Q6_Alpha_Astro_Black {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -112px 0;}
.swatch.MC_Q6_Alpha_Ice_Platinum {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -126px 0;}
.swatch.MC_Q6_Alpha_Terra_Gold {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -140px 0;}
.swatch.MC_Q6_Astro_Black {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -154px 0;}
.swatch.MC_Q6_Ice_Platinum {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -168px 0;}
.swatch.MC_Q6_Mystic_White {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -182px 0;}
.swatch.MC_Q6_Terra_Gold {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -196px 0;}
.swatch.MC_Q6_Plus_Astro_Black {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -210px 0;}
.swatch.MC_Q6_Plus_Ice_Platinum {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat 0 -14px;}
.swatch.MC_Q6_Plus_Marine_Blue {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -14px -14px;}
.swatch.MC_V20_Pink {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -28px -14px;}
.swatch.MC_V20_Silver {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -42px -14px;}
.swatch.MC_V20_Titan {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -56px -14px;}
.swatch.MC_V30_Aurora_Black {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -70px -14px;}
.swatch.MC_V30_Cloud_Silver {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -84px -14px;}
/* LGEGMO-3964 : 20180309 modify */
.swatch.MC_G6_LavenderViolet,
.swatch.MC_Q6_LavenderViolet,
.swatch.MC_V30_Lavender_Violet {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -98px -14px;}
.swatch.MC_G6_MorocanBlue, 
.swatch.MC_Q6_MoroccanBlue,
.swatch.MC_V30_Moroccan_Blue {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -112px -14px;}
/* //LGEGMO-3964 : 20180309 modify */
.swatch.MC_X_Power2_Qualcomm_Black_Titan {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -126px -14px;}
.swatch.MC_X_Power2_Shiny_Blue {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -140px -14px;}
.swatch.MC_X_Power2_Shiny_Gold {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -154px -14px;}
.swatch.MC_X_Power2_Shiny_Titan {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -168px -14px;}
.swatch.MC_X_Venture_Black {background:url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -182px -14px;}

/* LGEGMO-3617,LGEUS-9957 20171211 modify add */
.swatch.HA_CookingAppliance_Matte_Black_Stainless_Steel,
.swatch.HA_MWO_Matte_Black_Stainless_Steel,
.swatch.HA_Oven_Matte_Black_Stainless_Steel,
.swatch.HA_REF_Matte_Black_Stainless_Steel,
.swatch.HA_DW_Matte_Black_Stainless_Steel{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -197px -14px;}
/* //LGEGMO-3617,LGEUS-9957 20171211 modify */

/* LGETW-700,LGEUS-9957 : 20171127 modify */
.swatch.MC_Stylus2_Black,
.swatch.MC_K10_2017_Shiny_Black{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat 0 -28px;}
.swatch.MC_Stylus2_Brown,
.swatch.MC_K4_2017_Brown,
.swatch.MC_K8_2017_Gold,
.swatch.MC_X_Style_Gold,
.swatch.MC_X_Power_Gold,
.swatch.MC_G5_Speed_Gold,
.swatch.MC_Stylus2_Gold,
.swatch.MC_Stylus3_Gold,
.swatch.MC_K10_2017_Shiny_Gold{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -56px -28px;}
.swatch.MC_X_Power_Indigo,
.swatch.MC_K8_2017_Dark_Blue,
.swatch.MC_Watch_Sport_Dark_Blue{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -210px -14px;}
.swatch.MC_G5_Speed_Pink{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -84px -28px;}
.swatch.MC_Stylus3_Rose_Gold,
.swatch.MC_Watch_Style_Rose_Gold{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -14px -28px;}
.swatch.MC_Watch_Style_Silver,
.swatch.MC_G5_Speed_Silver{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -28px -28px;}
.swatch.MC_K10_2017_Shiny_Titan,
.swatch.MC_Stylus3_Titan,
.swatch.MC_K4_2017_Titan,
.swatch.MC_X_Style_Titan,
.swatch.MC_X_Mach_Titan,
.swatch.MC_Watch_Style_Titanium,
.swatch.MC_Watch_Sport_Titanium_Silver{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -70px -28px;}
.swatch.MC_X_Style_White,
.swatch.MC_X_Mach_White,
.swatch.MC_X_Power_White{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -42px -28px;}
/* //LGETW-700,LGEUS-9957 : 20171127 modify */

/* LGECO-503 20171109 add */
.swatch.MC_X_Cam_Pink_Gold{background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -14px -28px;}
/* //LGECO-503 20171109 add */


/* New Colorchip Large - v2 */
.swatch.large.MC_G6_Astro_Black {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat 0 0;}
.swatch.large.MC_G6_Ice_Platinum {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -22px 0;}
.swatch.large.MC_G6_Mystic_White {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -44px 0;}
.swatch.large.MC_G6_Marine_Blue {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -66px 0;}
.swatch.large.MC_G6_Terra_Gold {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -88px 0;}
.swatch.large.MC_G6_Plus_Marine_Blue {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -110px 0;}
.swatch.large.MC_G6_Plus_Optical_Black {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -132px 0;}
.swatch.large.MC_G6_Plus_Terra_Gold {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -154px 0;}
.swatch.large.MC_Q6_Alpha_Astro_Black {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -176px 0;}
.swatch.large.MC_Q6_Alpha_Ice_Platinum {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -198px 0;}
.swatch.large.MC_Q6_Alpha_Terra_Gold {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -220px 0;}
.swatch.large.MC_Q6_Astro_Black {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -242px 0;}
.swatch.large.MC_Q6_Ice_Platinum {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -264px 0;}
.swatch.large.MC_Q6_Mystic_White {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -286px 0;}
.swatch.large.MC_Q6_Terra_Gold {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -308px 0;}
.swatch.large.MC_Q6_Plus_Astro_Black {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -330px 0;}
.swatch.large.MC_Q6_Plus_Ice_Platinum {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat 0 -22px;}
.swatch.large.MC_Q6_Plus_Marine_Blue {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -22px -22px;}
.swatch.large.MC_V20_Pink {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -44px -22px;}
.swatch.large.MC_V20_Silver {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -66px -22px;}
.swatch.large.MC_V20_Titan {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -88px -22px;}
.swatch.large.MC_V30_Aurora_Black {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -110px -22px;}
.swatch.large.MC_V30_Cloud_Silver {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -132px -22px;}
/* LGEGMO-3964 : 20180309 modify */
.swatch.large.MC_G6_LavenderViolet,
.swatch.large.MC_Q6_LavenderViolet,
.swatch.large.MC_V30_Lavender_Violet {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -154px -22px;}
.swatch.large.MC_G6_MorocanBlue,
.swatch.large.MC_Q6_MoroccanBlue,
.swatch.large.MC_V30_Moroccan_Blue {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -176px -22px;}
/* //LGEGMO-3964 : 20180309 modify */
.swatch.large.MC_X_Power2_Qualcomm_Black_Titan {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -198px -22px;}
.swatch.large.MC_X_Power2_Shiny_Blue {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -220px -22px;}
.swatch.large.MC_X_Power2_Shiny_Gold {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -242px -22px;}
.swatch.large.MC_X_Power2_Shiny_Titan {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -264px -22px;}
.swatch.large.MC_X_Venture_Black {background:url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -286px -22px;}

/* LGEGMO-3617 ,LGEUS-9957 20171211 modify */
.swatch.large.HA_CookingAppliance_Matte_Black_Stainless_Steel,
.swatch.large.HA_MWO_Matte_Black_Stainless_Steel,
.swatch.large.HA_Oven_Matte_Black_Stainless_Steel,
.swatch.large.HA_REF_Matte_Black_Stainless_Steel,
.swatch.large.HA_DW_Matte_Black_Stainless_Steel{background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -309px -23px;}
/* //LGEGMO-3617,LGEUS-9957 20171211 modify add */

/* LGETW-700,LGEUS-9957 : 20171127 modify */
.swatch.large.MC_Stylus2_Black,
.swatch.large.MC_K10_2017_Shiny_Black {background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat 0 -45px;}
.swatch.large.MC_Stylus2_Brown,
.swatch.large.MC_K4_2017_Brown,
.swatch.large.MC_K8_2017_Gold,
.swatch.large.MC_X_Style_Gold,
.swatch.large.MC_X_Power_Gold,
.swatch.large.MC_G5_Speed_Gold,
.swatch.large.MC_Stylus2_Gold,
.swatch.large.MC_Stylus3_Gold,
.swatch.large.MC_K10_2017_Shiny_Gold {background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -89px -45px;}
.swatch.large.MC_X_Power_Indigo,
.swatch.large.MC_K8_2017_Dark_Blue,
.swatch.large.MC_Watch_Sport_Dark_Blue{background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -331px -23px;}
.swatch.large.MC_G5_Speed_Pink{background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -133px -45px;}
.swatch.large.MC_Stylus3_Rose_Gold,
.swatch.large.MC_Watch_Style_Rose_Gold{background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -23px -45px;}
.swatch.large.MC_Watch_Style_Silver,
.swatch.large.MC_G5_Speed_Silver{background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -45px -45px;}
.swatch.large.MC_K10_2017_Shiny_Titan,
.swatch.large.MC_Stylus3_Titan,
.swatch.large.MC_K4_2017_Titan,
.swatch.large.MC_X_Style_Titan,
.swatch.large.MC_X_Mach_Titan,
.swatch.large.MC_Watch_Style_Titanium,
.swatch.large.MC_Watch_Sport_Titanium_Silver{background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -111px -45px;}
.swatch.large.MC_X_Style_White,
.swatch.large.MC_X_Mach_White,
.swatch.large.MC_X_Power_White{background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -67px -45px;}
/* //LGETW-700,LGEUS-9957 : 20171127 modify */

/* LGECO-503 20171109 add */
.swatch.large.MC_X_Cam_Pink_Gold{background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -23px -45px;}
/*// LGECO-503 20171109 add */

/* LGEUS-9957 : 20171127 modify */
.swatch.MC_G6_Mystic_White:before,
.swatch.MC_Q6_Mystic_White:before,
.swatch.MC_V20_Silver:before,
.swatch.MC_X_Style_White:before, 
.swatch.MC_X_Mach_White:before, 
.swatch.MC_X_Power_White:before {border:1px solid #bbb;}
/* //LGEUS-9957 : 20171127 modify */

/* LGEGMO-3808 : 20180124 add */
/* LGEGMO-3964 : 20180309 modify */
.swatch.MC_G6_RaspberryRose,
.swatch.MC_V30_Raspberry_Rose {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -98px -28px;
}
.swatch.large.MC_G6_RaspberryRose,
.swatch.large.MC_V30_Raspberry_Rose {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -154px -44px;
}
/* //LGEGMO-3964 : 20180309 modify */
/* //LGEGMO-3808 : 20180124 add */
/* LGEGMO-3914 : 20180222 add */
.swatch.HA_REF_SIGNATURE_Textured_Steel {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -112px -28px;
}
.swatch.large.HA_REF_SIGNATURE_Textured_Steel {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -176px -44px;
}
/* //LGEGMO-3914 : 20180222 add */
/* LGEGMO-4001 : 20180329 add */
.swatch.MC_K8_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -126px -28px;
}
.swatch.large.MC_K8_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -198px -44px;
}
/* //LGEGMO-4001 : 20180329 add */
/* LGEGMO-4048 : 20180419 add */
.swatch.MC_Fortune2_TitanBlack {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -140px -28px;
}
.swatch.large.MC_Fortune2_TitanBlack {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -220px -44px;
}
/* //LGEGMO-4048 : 20180419 add */
/* LGEGMO-4078 : 20180424 add */
.swatch.MC_G7_NewPlatinumGray {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -154px -28px;
}
.swatch.MC_G7_NewMoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -168px -28px;
}
.swatch.MC_G7_NewAuroraBlack {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -182px -28px;
}
.swatch.MC_G7_RaspberryRose {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -196px -28px;
}
.swatch.large.MC_G7_NewPlatinumGray {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -242px -44px;
}
.swatch.large.MC_G7_NewMoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -264px -44px;
}
.swatch.large.MC_G7_NewAuroraBlack {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -286px -44px;
}
.swatch.large.MC_G7_RaspberryRose {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -308px -44px;
}
/* //LGEGMO-4078 : 20180424 add */
/* LGEGMO-4093 : 20180427 add */
.swatch.MC_V30S_ThinQ_NewMoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -210px -28px;
}
.swatch.MC_V30S_ThinQ_NewPlatinumGray {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat 0px -42px;
}
.swatch.large.MC_V30S_ThinQ_NewMoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -330px -44px;
}
.swatch.large.MC_V30S_ThinQ_NewPlatinumGray {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat 0px -66px;
}
/* //LGEGMO-4093 : 20180427 add */
/* LGEGMO-4113 : 20180508 add */
.swatch.MC_Q7_Plus_AuroraBlack {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -14px -42px;
}
.swatch.MC_Q7_Plus_MoroccanBlue_Hair {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -28px -42px;
}
.swatch.MC_Q7_Plus_MoroccanBlue_Wave {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -42px -42px;
}
.swatch.MC_Q7_Plus_LavenderViolet {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -56px -42px;
}
.swatch.MC_Q7_Prime_AuroraBlack {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -70px -42px;
}
.swatch.MC_Q7_Prime_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -84px -42px;
}
.swatch.MC_Q7_Prime_LavenderViolet {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -98px -42px;
}
.swatch.MC_Q7_Alpha_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -112px -42px;
}
.swatch.large.MC_Q7_Plus_AuroraBlack {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -22px -66px;
}
.swatch.large.MC_Q7_Plus_MoroccanBlue_Hair {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -44px -66px;
}
.swatch.large.MC_Q7_Plus_MoroccanBlue_Wave {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -66px -66px;
}
.swatch.large.MC_Q7_Plus_LavenderViolet {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -88px -66px;
}
.swatch.large.MC_Q7_Prime_AuroraBlack {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -110px -66px;
}
.swatch.large.MC_Q7_Prime_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -132px -66px;
}
.swatch.large.MC_Q7_Prime_LavenderViolet {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -154px -66px;
}
.swatch.large.MC_Q7_Alpha_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -176px -66px;
}
/* //LGEGMO-4113 : 20180508 add */
/* LGEGMO-4138 : 20180510 add */
.swatch.MC_K9_Moroccan_Blue {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -126px -42px;
}
.swatch.MC_K9_Terra_Gold {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -140px -42px;
}
.swatch.MC_K9_Aurora_Black {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -154px -42px;
}
.swatch.MC_K11_Moroccan_Blue {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -168px -42px;
}
.swatch.MC_K11_Terra_Gold {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -182px -42px;
}
.swatch.MC_K11_Aurora_Black {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -196px -42px;
}
.swatch.large.MC_K9_Moroccan_Blue {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -198px -66px;
}
.swatch.large.MC_K9_Terra_Gold {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -220px -66px;
}
.swatch.large.MC_K9_Aurora_Black {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -242px -66px;
}
.swatch.large.MC_K11_Moroccan_Blue {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -264px -66px;
}
.swatch.large.MC_K11_Terra_Gold {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -286px -66px;
}
.swatch.large.MC_K11_Aurora_Black {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -308px -66px;
}
/* //LGEGMO-4138 : 20180510 add */
/* LGEGMO-4165 : 20180530 add */
.swatch.MC_Qstylus_AuroraBlack {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -210px -42px;
}
.swatch.MC_Qstylus_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat 0px -56px;
}
.swatch.large.MC_Qstylus_AuroraBlack {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -330px -66px;
}
.swatch.large.MC_Qstylus_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat 0px -88px;
}
/* //LGEGMO-4165 : 20180530 add */
/* LGEGMO-4268 : 20180710 add */
.swatch.MC_XPower3_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -14px -56px;
}
.swatch.large.MC_XPower3_MoroccanBlue {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -22px -88px;
}
/* //LGEGMO-4268 : 20180710 add */
/* LGEGMO-4508 20180919 add */
.swatch.HA_REF_Beige {
	background:  url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -28px -56px;
}
.swatch.HA_REF_Beige_Dancing_Flower_Wine_Red {
	background:  url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -42px -56px;
}
.swatch.HA_REF_Beige_Dancing_Flower_Silver {
	background:  url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -56px -56px;
}
.swatch.HA_REF_Black_Mirror {
	background:  url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -70px -56px;
}
.swatch.HA_REF_Skin_Beige {
	background:  url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -84px -56px;
}
.swatch.large.HA_REF_Beige {
	background:  url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -44px -88px;
}
.swatch.large.HA_REF_Beige_Dancing_Flower_Wine_Red {
	background:  url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -66px -88px;
}
.swatch.large.HA_REF_Beige_Dancing_Flower_Silver {
	background:  url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -88px -88px;
}
.swatch.large.HA_REF_Black_Mirror {
	background:  url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -110px -88px;
}
.swatch.large.HA_REF_Skin_Beige {
	background:  url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -132px -88px;
}
/* //LGEGMO-4508 20180919 add */
/* LGEGMO-4528 20180927 add */
.swatch.HA_VCC_Matte_Red {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -98px -56px;
}
.swatch.HA_VCC_Matte_Silver {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -112px -56px;
}
.swatch.large.HA_VCC_Matte_Red {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -154px -88px;
}
.swatch.large.HA_VCC_Matte_Silver {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -176px -88px;
}
/* //LGEGMO-4528 20180927 add */
/* LGEGMO-4586 20181030 add */
.swatch.MC_G7_Fit_Aurora_Black {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -126px -56px;
}
.swatch.MC_G7_Fit_Platinum_Gray {
	background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -140px -56px;
}
.swatch.large.MC_G7_Fit_Aurora_Black {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -198px -88px;
}
.swatch.large.MC_G7_Fit_Platinum_Gray {
	background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -220px -88px;
}
/* //LGEGMO-4586 20181030 add */

/* LGEGMO-4738 20181220 add */
.MC_V40_ThinQ_NewPlatinumGray {
  background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -154px -56px;
}
.MC_V40_ThinQ_CarmineRed {
  background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -168px -56px;
}
.MC_V40_ThinQ_NewMoroccanBlue {
  background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -182px -56px;
}
.swatch.large.MC_V40_ThinQ_NewPlatinumGray {
  background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -242px -88px;
}
.swatch.large.MC_V40_ThinQ_CarmineRed {
  background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -264px -88px;
}
.swatch.large.MC_V40_ThinQ_NewMoroccanBlue {
  background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -286px -88px;
}
/* //LGEGMO-4738 20181220 add */

/* LGEGMO-4812 20190123 add */
.HA_Styler_Mirror {
  background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -196px -56px;
}
.swatch.large.HA_Styler_Mirror {
  background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -308px -88px;
}
/* //LGEGMO-4812 20190123 add */
/* LGEGMO-4868 20190211 add */
.MC_K40_NewMoroccanBlue {
  background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -210px -56px;
}
.swatch.large.MC_K40_NewMoroccanBlue {
  background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -330px -88px;
}
.MC_K40_NewPlatinumGray {
  background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat 0 -70px;
}
.swatch.large.MC_K40_NewPlatinumGray {
  background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat 0 -110px;
}
/* //LGEGMO-4868 20190211 add */
/* LGEGMO-4878 20190211 add */
.swatch.HA_VCC_HOMBOT_Ocean_Black {
  background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -14px -70px;
}
.swatch.large.HA_VCC_HOMBOT_Ocean_Black {
  background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -22px -110px;
}
.swatch.HA_VCC_HOMBOT_Ruby_Red {
  background: url('/lg4-common-gp/img/common/colorchip_v2.jpg') no-repeat -28px -70px;
}
.swatch.large.HA_VCC_HOMBOT_Ruby_Red {
  background: url('/lg4-common-gp/img/common/colorchip_large_v2.jpg') no-repeat -44px -110px;
}
/* //LGEGMO-4878 20190211 add */