@charset "UTF-8";

$is-mobile:1 !default;
$header-height:64px !default;
$header-padding:54px !default;

@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/ic/scss/ic";
@import "base/base_products";
@import "common/common";

@import "module/modules";
@import "lg-signature/signature-modules"; /* LGEGMO-2230 ADD */