@charset "UTF-8";

$is-mobile:0 !default;
$header-height:64px !default;

@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/ic/scss/ic";
@import "base/base_products";
@import "common/common";

@import "products/search-result";
@import "products/notice-board";
@import "products/promotion";
@import "products/recipes";
@import "products/energy-star";
@import "products/microsite";  // LGEPJT-337 20171121 Add

/* LGEPJT-91 */
.search-wrap .search-result-area .search-result-toolbox .search-filter {
  .filter-selectbox .chosen-container {min-width:100px}
  a.btn {float: left}
  &.wide {
    width: 100% !important;
    .filter-selectbox, .span ,a.btn {
      width:100%!important;padding-right: 0;
      .chosen-container {width: 100% !important;}
    }
  }
}
/* //LGEPJT-91 */