@charset "UTF-8";

$is-mobile:1 !default;
$header-height:64px !default;
$header-padding:54px !default;
@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/ic/scss/ic";
@import "base/base_support";
@import "common/common";

@import "support/common";
@import "support/support-home";