@charset "UTF-8";

$is-mobile:1 !default;
$header-height:64px !default;
$header-padding:54px !default;
@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/ic/scss/ic";
@import "base/base_support";
@import "common/common";

@import "support/common";
@import "support/sign-in";
@import "support/sign-up";
@import "support/my-profile";
@import "support/my-products";
@import "support/my-repair-inquiry-status";
@import "support/my-account-home";
@import "support/my-stuff";
@import "support/register-a-product";
@import "support/steplist";
@import "support/my-benefits";

@import "support/component/form-builder";
