.browser-alert-wrap {
	display:none;
	position: fixed;
	z-index: 10;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
	text-align:center;
	font-family: $font-family-regular;
	font-size: 16px;
    background: url('/lg4-common-gp/img/common/transparent-000-40.png');
	&.hide {
		display: none;
	}
	&:before, .browser-alert-empty {
		display:inline-block;
		*display:inline;
		content:"";
		width:0;
		height:100%;
		vertical-align:middle;
		*zoom:1;
	}
	.browser-alert-layer {
		display:inline-block;
		*display:inline;
		position:relative;
	    width: 700px;
	    background: #f8f9fa;
	    margin: 3px;
		text-align:left;
		vertical-align:middle;
		*zoom:1;
	    .layer-header {
	    	overflow: hidden;
	    	padding: 36px 30px 25px 30px;
	    	padding-bottom: 25px;
	    	margin-bottom: 25px;
		    border-bottom: 1px solid #e6e6e6;
	    	.logo {
	    		padding-left: 10px;
	    		float: left;
	    	}
	    	p {
	    		font-family: $font-family-semibold;
	    		font-size: 20px;
	    		margin: 0;
	    		float: right;
    			width: 470px;
    			line-height: 22px;
    			padding-right: 20px;
    			color: #333333;
	    	}
	    }
	    .layer-body {
	    	line-height: 22px;
	    	padding: 0 30px 36px 30px;
	    	p {
    			color: #666666;
		    	margin: 0.813em 0;
	    		strong {
		    		color: #a50034;
		    		font-weight: normal;
		    	}
	    	}
	    	ul.type-hyphen,
	    	ul.type-num {
	    		list-style-type: none;
	    		padding-left: 0;
	    		margin-left: 0;
	    		margin-bottom: 0;
	    		li {
    				color: #666666;
	    			padding-left: 13px;
	    			position: relative;
	    			background: url('/lg4-common-gp/img/common/dash_for_ie7.png') no-repeat 0 3px;
	    		}
		    	ul.type-num {
		    		li {
		    			text-indent:13px;
		    			padding-left:-13px;
		    			background:none;
		    		}

		    	}
	    	}
	    }
	    a.close-btn {
	    	text-decoration: none;
	    	color: #333333;
	    	display: block;
	    	position: absolute;
	    	right: 0;
	    	top: 0;
	    	font-size: 24px;
	    	line-height: 1;
	    	padding: 8px 10px;
	    }
	}
	&.type-cn {
		position:static;
		background:none;
		font-size:20px;
		&:before {
			display:block;
			position:fixed;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:url('/lg4-common-gp/img/common/transparent-000-40.png');
		}
		.browser-alert-layer {
			width: 1080px;
			height: 820px;
			/* margin: 0; */
			position: absolute;
			left: 50%;
			top: 100px;
			margin: 0 0 0 -540px;
			.layer-header {
				.title {
					font-size:40px;
					font-weight:normal;
				}
			}
			.layer-body {
				height:675px;
				.column-left,
				.column-right {
					display:table-cell;
					width:50%;
				}
				.column-left {
					padding:0 30px 0 0;
				}
				.column-right {
					padding:0 0 0 30px;
					border-left:1px solid #ccc;
				}
				p {
					font-size:20px;
					line-height:30px;
					&.small {
						line-height:24px;
					}
				}
		    	ul.type-num {
		    		li {
		    			text-indent:-15px;
		    			padding-left:15px;
		    			background:none;
			    	}
			    }
			}
		}
	}
}