// header
/* .cookie-notice { position:static; z-index:500; width:100%; font-size:14px; background:#e9e8ed; display:none; }
.cookie-notice-wrap { max-width:1240px; position:relative; margin:0 auto; padding:8px 40px 10px 20px; font-family:$font-family-light; line-height:16px;}
.cookie-notice a { display:inline-block; margin-top:0px; font-size:14px; text-decoration:underline;  font-family:$font-family-light;}
.cookie-notice button { background:none; border:none; position:absolute; top:50%; margin-top:-12px; right:0;}
.cookie-notice button:focus {outline:1px dotted $black;}
.cookie-notice button i {font-size:22px;}

body.cookie-check .cookie-notice { display:block; }

@media only screen and (max-width:767px) {
	.cookie-notice {position:static;}
	.cookie-notice a { margin-top:6px;}
	.cookie-notice button { margin-top:0; top:5px; right:2px; }
} */

//footer
